#collection_box.box
  - if collection_box
    .title= collection_box.caption
  #collected_media
    - if collection_box
      - for medium in collection_box.media_for_user_as_viewer(current_user)
        = render :partial => "media/#{medium.template_path}/collection_item", :object => medium, :locals => {:media_set => collection_box}
