# config/
config/database.yml
config/ferret_server.yml
config/ldap.yml

# log/
log

# tmp/
tmp/*

# db
db/*.sqlite3
db/*.sql

# media_storage/
media_storage/**/*
       
public/m/*

.DS_Store

doc/app
     
# Ferret-Index
index

test
spec/fixtures/**