%h3 Audio Clip
- div_id = "mediaplayer#{fullview.id}"
%div{:id => div_id}
  = no_flash_text

:javascript
  var so = new SWFObject('/mediaplayer/player.swf','ply','580','100','9','#ffffff');
  so.addParam('allowfullscreen','false');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addVariable('file','#{fullview.public_filename}');
  so.addVariable('skin', '/mediaplayer/skins/nacht.swf');
  so.addVariable('plugins', 'spectrumvisualizer-1');
  so.write('#{div_id}');
