<?xml version="1.0"?>
<player width="326" height="248" background="background.jpg" imagePath="/player/darksite_video/" mediaPath="">
	
	<info x="80" y="190" width="213" height="18" overflow="scroll" show="true" />

	<video x="2" y="2" width="322" height="186">
		<autoscale value="false" width_limit="322" height_limit="186" />
		<smoothing value="false" />
		<bufferTime value="2.1" />
	</video>


	<slider>
	
		<progress show="true">
			<bar x="9" y="235" width="309" height="1" image="" progress="progressbar_p.jpg" show="true" />
			<slider x="9" y="231" width="8" height="8" image="slider_progress.png" hover="slider_progress_hover.png" show="true" />
		</progress>
		
		<volume show="true">
			<bar x="209" y="226" width="102" height="13" image="" show="true" />
			<slider x="209" y="221" width="8" height="8" image="slider_progress.png" hover="slider_progress_hover.png" show="true" />
		</volume>
		
		<balance show="true">
			<bar x="8" y="226" width="109" height="13" image="" show="true" />
			<slider x="8" y="221" width="8" height="8" image="slider_progress.png" hover="slider_progress_hover.png" show="true" />
		</balance>
	</slider>


	

	<buttons>
		<start x="2" y="189" image="play.jpg" hover="play_hover.jpg" show="true" />		
		<halt x="2" y="189" image="pause.jpg" hover="pause_hover.jpg" show="true" />
		<next x="22" y="189" image="forward.jpg" hover="forward_hover.jpg" show="true" />
		<last x="42" y="189" image="backward.jpg" hover="backward_hover.jpg" show="true" />

		<mute x="302" y="189" image="mute.jpg" hover="mute_hover.jpg" show="true" />
		<unmute x="302" y="189" image="unmute.jpg" hover="unmute_hover.jpg" show="true" />
	</buttons>

	<settings>
		<font size="9" family="Verdana" color="7C766F" style="" />
		<scrolling interval="100" step="2" mode="reverse" />

		<loadingProcess show="false" showTrackName="true" />

		<streaming value="true" />
		<autoload value="false" />
		<autostart value="false" />

		<repeatAll value="false" />
		<repeat value="false" />
		<shuffle value="false" onStart="false" />

		<autostartNext value="true" />
		<autoloadNext value="true" />

		<ID3Names value="false" />

		<skipTrack stopAtLast="true" stopAtZero="true"/>
	</settings>

	<media>
		<item name="Zanmantou 1.5 WebAVPlayer DEMO" filename="zanmantou_demo.flv"/>
	</media>
</player>
