@charset "UTF-8";
/* CSS Document */

html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  background: #eee;
  margin: 0px;
  padding: 0;
  text-align: center;
  color: #000000;
}


p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 3px 0 3px 0;
  padding: 0px;
}

p.limited {
 width: 600px;
}

h1 {
  font-size: 150%;
  color: #222;
  font-variant: normal;
  line-height: 120%;
}

h1,
h2,
h3 {
  margin: 1em 0 0.3em 0;
}

h1.first,
h2.first,
h3.first {
  margin-top: 0;
}

img {
  border: none;
}

img.icon {
  vertical-align: text-bottom;
}

ul {
  padding: 0 0 7px 20px;
  margin: 10px 0 10px 0;
}

#spalte1 a.selected-menu {
  background-color: #999999;
}

#spalte1 a:hover a.selected-menu {
  background-color: #666666;
}


#logo {
  margin-top: -20px;
  width: 450px;
  top: 26px;
  height: 51px;
  z-index: 50;
}

/*interne und externe links */

#menu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 8px 2px 5px 20px;
  border-bottom: solid 1px #fff;
  border-TOP: solid 1px #FFF;
  background-color: #f9b200;
  color: #fff;
  font-size: 9pt;
}

#menu a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#menu a:hover {
  text-decoration: underline;
  color: #fff;
}

#homelink {
  width: 500px;
  height: 60px;
  border: none;
}

#service {
  float: right;
  font-size: small;
  vertical-align: top;
  padding-right: 20px;
  font-size: 11px;
}

#service img {
  vertical-align: middle;
  padding-right: 12px;
}

#container {
  width: 1000px;
  background-color: #e8e5df;
  margin: 0 auto;
  border-right: solid #F9b200 8px;
  border-left: solid #fff 2px;
  text-align: left;
  height: 100%;
}

#header {
  background: #fff;
  padding: 5px 0 5px 20px;
}

#header .title {
  color: black;
  font-size: 180%;
}

#spalte1 {
  float: left;
  width: 165px;
  background: #0093D3;
  margin-top: 50px;
  margin-left: 15px;
  font-size: 11px;
}

#spalte1 a {
  display: block;
  border-bottom: #fff 1px solid;
  padding: 7px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#spalte1 a:hover {
  color: #0093D3;
  background-color: #fff;
}

#secondo a {
  display: block;
  border-bottom: #fff 1px solid;
  padding: 7px;
  padding-left: 15px;
  font-size: 10px;
  color: #333333;
  text-decoration: none;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ddd;
}

#secondo a.selected-menu {
  background: #eee;
}

#terzo a {
  display: block;
  border-bottom: #fff 1px solid;
  padding: 7px;
  padding-left: 30px;
  font-size: 10px;
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
}

#spalte2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  float: right;
  width: 155px;
  padding: 15px 10px 15px 20px;
  margin-top: 50px;
  margin-right: 20px;
  background-color: #fff;
  background-image: url(split/logo.gif);
  background-repeat: no-repeat;
/*  background-position: 20px 10px 20px 10px;*/
}

#newsbar {
  margin-top: 170px;
  width: 170px;
  background: #0093D3;
  padding: 10px;
}

#hauptinhalt {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 0 15px;
  background: #FFFFFF;
  border: dotted #F9b200 1px;
  line-height: 150%;
}

#hauptinhalt ul li, #spalte2 ul li {
  list-style: none;
  list-style-image: url(bilder/arrow.png);
}

#hauptinhalt p.bodytext a.download , #spalte2 p.bodytext a.download {
  background-image: url(bilder/download.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}

#hauptinhalt h2 {
  color: #0099FF;
  font-size: 130%;
}

#hauptinhalt h3 {
  color: #0099FF;
  font-size: 110%;
}

#footer {
  padding: 0 10px 0 20px;
  background-color: #e8e5df;
  border-top: 1px solid #fff;
}

#footer p {
  margin: 0;
  padding: 10px 0;
}

#footer a {
  color: #666666;
  text-decoration: none;
}

/* Pachtes für Orginiladesign */


#flash.notice {
  color: black;
  background-color: #CF9;
  font-size: 110%;  
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px 3px 3px 3px;
/*  width: 100%;  */
}

#flash.error {
  color: white;
  background-color: red;
  font-size: 130%;  
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px 3px 3px 3px;
/*  width: 100%;  */
}

input[type='text'], input[type='password'], textarea {
  font-family: Verdana, Arial, sans-serif;
  font-size: 100%;
  border: 1px solid #aaa;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: auto;
}

input[type='button'], input[type='submit'] {
  width: auto;
  background-color: auto;
}

select {
  border: 1px solid #aaa;
}


#right ul {
  /*font-size: 90%;*/
  margin:0 0 0 15px;
  padding:0;
  list-style-image: url(/images/bullet.gif);
}

a,
a:visited {
  text-decoration: none;
  color: rgb(0, 109, 193);
}

a:hover {
  text-decoration: underline;
}


fieldset {
  border: 1px solid #aaa;
}



#left {
  float:left;
/*  margin-right: 20px; */
  margin-bottom: 20px;   
  width: 600px;
}

#right {
  width: 315px;
  float: right;
  display:block;
  padding: 40px 0 0 10px;
  margin-bottom: 20px;   
  border-left: 1px silver solid;
  min-height: 400px;
/*  margin-left:20px;*/
}

#column1 {
  width: 450px;
  float: left;
  margin-bottom: 20px;   
}

#column2 {
  width: 450px;
  float: right;
  margin-bottom: 20px;   
}

/*#right .box {
  float: right;
  width: 300px;
}
*/

.box {
  background: #F0F0F0;
  border: 1px solid #E1E1E1;
  padding: 3px 3px 3px 3px;
  margin: 10px 0 10px 0;
}

.box h2 {
  font-size: 1.1em;
  margin: 0px 0 0px 0;
  padding:0px 0 5px 0;
}

.box a {
  margin: 10px 0 10px 0;
  color: #93B300;
  font-size: 10px;
}

.box p {
  margin: 5px 0 10px 0;
  line-height: 15px;
}

.box ul {
  padding: 0 0 7px 20px;
  margin:10px 0 10px 0;
}

.box li {
  margin-top:5px;
}


#nav{ list-style: none; margin: 2.0em 0; width: 25em; float: right;}
#nav li{ padding: 0; margin: 0; }
#nav a{
  display: block;
  height: 2.0em;
  padding: 0.3em 0.3em 0.3em 0.8em;
  border-bottom: 2px; /*solid #1a1a1a*/
  border-top: 2px; /*solid #1a1a1a*/
  color: #93B300;
  background-color: #F7F9FB;
  font-weight: bold;
  text-decoration: none;
  }

#nav a:hover{
  color: #1a1a1a;
  background: url(/images/bg_t.gif) no-repeat;
  background-color: #fff;
  font-weight: bold;
  }


#search_fulltext {
  border: 1px solid black;
}

/**** Clear Div ***/


#clear {
  display: block;
  clear: both;
  width: 100%;
  height:1px;
  overflow:hidden;
}




/* Pagination */

.pagination {
  padding: 3px;
  margin: 3px;
  font-size: 90%;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #F9B200;
  text-decoration: none;
  color: #7af;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #F9B200;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #F9B200;
  font-weight: bold;
  background-color: #F9B200;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd; 
}


.fieldWithErrors {
  padding: 2px;
  background-color: #c00;
  /*display: table;*/
}

#errorExplanation {
/*  width: 100%;*/
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: normal;
  padding: 5px 2px 5px 2px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
/*  padding: 5px;*/
}

#errorExplanation ul li {
/*  font-size: 12px;*/
  list-style: square;
}

#errorExplanation ul {
  margin: 0;
  padding-left: 20px;
}

#help {
  background-color: #E7FFB7;
}