development:
  host: 127.0.0.1
  port: 389
  base: dc=ldap,dc=server,dc=domain
  bind_dn: cn=admin,dc=ldap,dc=server,dc=domain
  password: secret
  adapter: ldap

test:
  host: 127.0.0.1
  port: 389
  base: dc=ldap,dc=server,dc=domain
  bind_dn: cn=admin,dc=ldap,dc=server,dc=domain
  password: secret
  adapter: ldap

production:
  host: ldap.hopro.edu
  port: 389
  # method: :tls
  base: dc=ldap,dc=server,dc=domain
  allow_anonymous: true
  adapter: ldap
