.collection_file{:id => "collection_medium_#{collection_item.id}"}
  =medium_remove_from_collection_button media_set, collection_item, :div_prefix => 'collection'
  [VIDEO]
  =h collection_item.name

