%h3 Video Clip
- div_id = "mediaplayer#{fullview.id}"
%div{:id => div_id}

:javascript
  var so = new SWFObject('/mediaplayer/player.swf','ply','580','400','9','#ffffff');
  so.addParam('allowfullscreen','true');
  so.addParam('allowscriptaccess','always');
  so.addParam('wmode','opaque');
  so.addVariable('file','#{fullview.public_filename}');
  so.addVariable('skin', '/mediaplayer/skins/nacht.swf');
  so.write('#{div_id}');
