!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title= browser_title
    = stylesheet_link_tag "swipe/style", :media => "all"
    = javascript_include_tag 'swipe.min.js'
  %body
    = yield